.cobalt2 {
  background-color: #193549;
  color: #ffffff;

  .ace_gutter {
    background: #193549;
    color: #8091a0;
  }

  .ace_print-margin {
    width: 0;
  }

  .ace_cursor {
    color: #ffc600;
  }

  .ace_marker-layer .ace_selection {
    background: #0050a480;
  }

  .ace_marker-layer .ace_step {
    background: #7f6f13;
  }

  .ace_invisible {
    color: #ffffff20;
  }

  .ace_keyword {
    color: #ff9d00;
  }

  .ace_meta {
    color: #9effff;
  }

  .ace_constant {
    color: #ff628c;
  }

  .ace_invalid {
    color: #f44542;
  }

  .ace_support {
    color: #80ffbb;
  }

  .ace_support.ace_function {
    color: #ff9d00;
  }

  .ace_fold {
    background-color: #ff9d00;
    border-color: #ffffff;
  }

  .ace_storage {
    color: #ffc600;
  }

  .ace_storage.ace_function,
  .ace_storage.ace_class {
    color: #ff9d00;
  }

  .ace_entity {
    color: #ffc600;
  }

  .ace_string {
    color: #a5ff90;
  }

  .ace_string.ace_template {
    color: #3ad900;
  }

  .ace_comment {
    font-style: italic;
    color: #0088ff;
  }

  .ace_heading,
  .ace_markup.ace_heading {
    color: #ffc600;
    font-weight: bold;
  }

  .ace_list,
  .ace_markup.ace_list {
    color: #ffc600;
  }

  .ace_variable {
    color: #e1efff;
  }

  .ace_variable.ace_language,
  .ace_variable.ace_storymatic {
    color: #fb94ff;
  }
}
