@use "../.." as *;

html,
body {
  background: var(--background-color);
  font-family: $sans;
  overscroll-behavior-y: none;
  height: 100%;
}

body {
  position: relative;
  margin: 0;

  --outer-margin: 3em;
  @include small {
    --outer-margin: 1em;
  }
}

:focus,
:active {
  outline: none;
}

nav {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3em;
  border-right: 0.0625em solid $seperator;
  z-index: 2;
  align-items: center;
  justify-content: center;

  a {
    width: 2em;
    height: 2em;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;

    @include focus {
      background: $focused;
    }
  }

  svg {
    width: 2em;
    height: 2em;
    fill: $text-color;
  }
}

main {
  z-index: 1;
  display: flex;
  position: relative;
  left: 3.0625em;
  width: calc(100% - 3.0625em - max(2 * $outer-margin, calc(100% - 980px)));
  min-height: calc(100% - 2 * $outer-margin);
  padding: $outer-margin max($outer-margin, calc((100% - 980px) / 2));
}

// TODO: NAVBAR
// TODO: MOBILE-FRIENDLY
// TODO: FULLSCREEN MODE
// TODO: EMBED MODE
// TODO: PRINT MODE
// TODO: NOTIFICATIONS
// TODO: FIX EVERYTHING
