@use "../.." as *;

html,
body {
  background: var(--background-color);
  font-family: $sans;
  color: $text-color;
  overscroll-behavior-y: none;
  height: 100%;
}

body {
  position: relative;
  margin: 0;

  --navbar-size: 3em;
  --navbar-icon: 2em;
  @media (max-height: 400px) {
    .large-sidebar & {
      --navbar-size: 3em;
      --navbar-icon: 1.5em;
    }
  }

  --outer-margin: 3em;
  @include medium {
    --outer-margin: 2em;
  }
  @include small {
    --outer-margin: 1em;
  }
}

:focus,
:active {
  outline: none;
}

nav {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--navbar-size);
  border-right: 0.0625em solid $seperator;
  z-index: 2;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  a {
    width: var(--navbar-icon);
    height: var(--navbar-icon);
    padding: 0.5em calc((var(--navbar-size) - var(--navbar-icon)) / 2);
    cursor: pointer;
    user-select: none;

    @include focus {
      background: $focused;
    }
  }

  svg {
    width: var(--navbar-icon);
    height: var(--navbar-icon);
    fill: $text-color;
  }
}

main {
  z-index: 1;
  display: flex;
  position: relative;
  left: 3.0625em;
  width: calc(
    100% - var(--navbar-size) - 0.0625em -
      max(2 * $outer-margin, calc(100% - 980px))
  );
  min-height: calc(100% - 2 * $outer-margin);
  padding: $outer-margin max($outer-margin, calc((100% - 980px) / 2));
}

.fullscreen {
  main {
    width: calc(100% - 3.0625em);
    min-height: 100%;
    padding: 0;
  }
}

@mixin embed {
  main {
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
  }

  nav {
    display: none;
  }
}

.embed {
  @include embed;
}

@media print {
  @include embed;
}

// TODO: MOBILE-FRIENDLY
// TODO: NOTIFICATIONS
// TODO: FIX EVERYTHING
