@use "../.." as *;
@use "sass:math";

html {
  font-family: sans-serif;
  background: $background;
  color: $text-color;
  overflow: hidden;

  --outer-margin: #{6 * $margin};

  @include small {
    --outer-margin: #{2 * $margin};
  }
}

.select {
  user-select: text;
}

.noselect {
  user-select: none;
}

$navbar-height: 1.5em;

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: calc($margin-top - math.div($margin, 2))
    calc($margin-right - math.div($margin, 2)) math.div($margin, 2)
    calc($margin-left - math.div($margin, 2));
  height: calc($navbar-height + $margin);
  z-index: 2;
  display: flex;
  overflow: visible;
  max-width: 980px;
  margin: 0 auto;

  a {
    cursor: pointer;
    padding: math.div($margin, 2);
    border-radius: math.div($margin, 4);

    @include focus {
      background: $focused;
    }

    svg {
      width: $navbar-height;
      height: $navbar-height;

      use {
        fill: $text-color;
      }
    }
  }

  name {
    flex: 1;
    text-align: center;
    font-weight: bold;
    margin: auto 0;
    font-size: 0.75 * $navbar-height;
  }
}

#outer {
  z-index: 1;
  position: fixed;
  top: calc($margin-top + $navbar-height + $margin);
  left: 0;
  bottom: 0;
  right: 0;
  padding: $outer-margin $margin-right $margin-bottom $margin-left;
  overflow: auto visible;
}

#main {
  width: 100%;
  min-height: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.nonav {
  #nav {
    display: none;
  }

  #outer {
    top: 0;
    padding: $margin-top $margin-right $margin-bottom $margin-left;
  }
}

.fullscreen {
  #nav {
    display: none;
  }

  #outer {
    top: 0;
    padding: 0;
  }

  #main {
    max-width: initial;
  }
}

@include print {
  #nav {
    display: none;
  }

  #outer {
    top: 0;
    padding: 0;
  }

  #main {
    max-width: initial;
  }
}

.notification {
  z-index: 3;
  overflow: hidden;
  width: 25em;
  padding: $margin;
  max-width: calc(100% - 4 * $margin);
  border-radius: $margin;
  position: fixed;
  bottom: $margin-bottom;
  background: $element;
  box-shadow: $seperator 0 0 0.375em 0.0625em;
  transition: opacity 1s;
  display: flex;
  gap: $margin;

  &.hide {
    opacity: 0;
    transition: opacity 1s;

    @include animation {
      opacity: 1;
      transition: transform 1s;
      transform: translateY(calc($margin-bottom + 4em + 2 * $margin));
    }
  }

  span {
    flex: 1;
    margin: auto 0;
  }

  button {
    appearance: none;
    background: transparent;
    border: none;
    color: $text-color;
    font-size: inherit;
    padding: 0.125em 0.25em;
    border-radius: 0.125em;
    cursor: pointer;

    @include focus {
      background: $focused;
    }
  }
}

:focus,
:active {
  outline: none;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
}
