// UPDATE WORKER.TS WHEN CHANGING THEMES
@use "../.." as *;

:root {
  --background: #fff;
  --background-color: #fff;
  --element: #e0e0e0;
  --focused: #c0c0c0;

  --text-color: #000;
  --heading-color: #13474b;
  --seperator: #13474b;

  --selection-bg: #7ca2a4;
  --selection-color: #000;

  @include dark {
    --background: #181818;
    --background-color: #181818;
    --element: #282828;
    --focused: #404040;

    --text-color: #fff;
    --heading-color: #a3d5d6;
    --seperator: #418183;

    --selection-bg: #7ca2a4;
    --selection-color: #000;
  }
}
