@import "..";

#output {
  object-fit: contain;
  width: 100%;
  flex: 1;
  border: 0;
  border-radius: 0;
  display: none;
  max-width: initial;
  max-height: initial;
}

.cover #output {
  object-fit: cover;
}
