<% title("TicTacToe Board Generator"), desc("Generates millions of TicTacToe boards and finds the best ones."), js("./index.js"), css("./index.css") %>

<p id="info">
  This page is mostly intended for developer purposes, and may lag or freeze your device.
  <br>Please exercise caution when using it.
  <br><br>

  This page generates random large TicTacToe boards and tries to find the one with the most three-in-a-rows while not
  having any four-in-a-rows. It is used to find the best TicTacToe board for a game.
</p>

<div id="buttons">
  <button id="gen-4">Generate 4x4</button>
  <button id="gen-5">Generate 5x5</button>
  <button id="gen-6">Generate 6x6</button>
  <button id="gen-7">Generate 7x7</button>
  <button id="approx-4">Approximate 4x4</button>
  <button id="approx-5">Approximate 5x5</button>
  <button id="approx-6">Approximate 6x6</button>
  <button id="approx-7">Approximate 7x7</button>
</div>