@use ".." as *;

main {
  .intro p {
    margin: 0;
    margin-bottom: $margin;
  }

  hr {
    border: 0;
    border-top: 0.125em solid $seperator;
    margin: 1em 0;
  }

  p:not(.intro p) {
    font-size: 1.5em;
    display: flex;
    gap: $margin;
    flex-wrap: wrap;
    margin: $margin 0;
  }

  em {
    font-style: normal;
    letter-spacing: 0.125em;
    background: $element;
    padding: 0 0.125em 0 0.25em;
    border-radius: 0.25em;

    strong {
      padding: 0.125em 0.125em 0.125em 0.25em;
      border-radius: 0.25em;
      background: $focused;
      margin-right: 0.125em;
    }

    &:first-child {
      font-weight: normal;
      letter-spacing: 0;
      padding: 0 0.25em 0 0;
      outline: 0.0625em solid $seperator;

      strong {
        margin-right: 0;
        border-right: 0.0625em solid $seperator;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0 0.25em;

        &:nth-child(2) {
          background: $element;
          border-radius: 0;
        }
      }
    }
  }
}
