@use ".." as *;

main {
  p {
    margin: 0;
    margin-bottom: $margin;
    font-size: 1.5em;
    display: flex;
    gap: $margin;
    flex-wrap: wrap;
  }

  p > strong em {
    letter-spacing: normal;
    font-weight: normal;
    padding: 0.25em 0.5em;
    background: $element;
    border-radius: 0.25em;
  }

  em {
    font-style: normal;
    letter-spacing: 0.125em;
    background: $element;
    padding: 0 0.125em 0 0.25em;
    border-radius: 0.25em;

    strong {
      padding: 0.125em 0.125em 0.125em 0.25em;
      border-radius: 0.25em;
      background: $focused;
      margin-right: 0.125em;
    }
  }
}
