@use ".." as *;

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  border-radius: 0.5em;
  overflow: hidden;

  div {
    height: 1.5em;
    margin: 0;
    white-space: nowrap;

    span {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      background: $element;

      &.filled {
        background: $text-color;
      }
    }
  }
}
