<% title("YouTube Downloader"), css("./index.css"), js("./index.js") %>

<form id="form">
  <input placeholder="Video URL..." id="field" />
</form>

<p id="help">Enter a YouTube video URL into the above field, then hit Enter on your keyboard or click <button
    id="submit">here</button> to download the video!</p>

<div id="infodiv">
  <img id="thumbnail" />
  <p id="info"></p>
</div>

<div id="formats"></div>