@use ".." as *;

.info {
  background: $element;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: $margin;

  .overview {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  p {
    margin: 0;
  }

  .buttonlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;

    button {
      background: none;
      color: inherit;
      font-size: inherit;
      border: 1px solid $seperator;
      border-radius: 0.25em;
      padding: 0.25em;
      cursor: pointer;
    }
  }
}
