<% title("zSnout Installation Manager"), desc("Check over the installation details of zSnout."), css("./index.css"), js("./index.js") %>

<div class="info">
  <p class="overview">Storage Usage</p>
  <p id="storage-info">Fetching storage overview...</p>
</div>

<div class="info">
  <p class="overview">Installation Type</p>
  <p id="installation">Getting details of installation...</p>
</div>

<div class="info">
  <p class="overview">Downloaded Directories</p>
  <p id="cached">Looking for downloads...</p>
</div>