<%
  title("Overcolorifier"), css("./index.css"), js("./index.js");
  nav("Upload Image", "@upload", "upload"), nav("Download Image", "@download", "download");
%>

<input type="file" accept="image/*" id="upload" />
<p id="info">To get started, click the upload icon in the menu bar and choose an image from your computer.</p>
<img id="output" />