<%
  title("Overcolorifier"), desc("Ever wondered how much shading and value really matter in pictures? Find out by removing those elements from any picture you choose!"), css("./index.css"), js("./index.js");
  nav("Upload Image", "@upload", "upload"), nav("Download Image", "@download", "download");
%>

<input type="file" accept="image/*" id="upload" />
<p id="info">To get started, click the upload icon in the menu bar and choose an image from your computer.</p>
<img id="output" />