@use "../.." as *;

#field,
#output {
  display: block;
  border: none;
  margin: 0;
  font-size: 1em;
}

#field {
  background: $element;
  padding: 0.5em;
  height: 1em;

  width: calc(100% - 1em);
  border-radius: 0.5em;
  color: $text-color;

  &::placeholder {
    color: $text-color;
    opacity: 0.5;
  }

  @include focus {
    background: $focused;
  }
}

#output {
  padding: 0 0.5em;

  p {
    margin: 0;
    margin-bottom: 0.5em;

    &:last-child {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }

    &.user,
    &.special {
      font-style: italic;
    }

    &.menu {
      display: flex;
      gap: 0.5em;
      flex-flow: row wrap;
      align-items: center;

      button {
        background: $element;
        color: $text-color;
        border: none;
        font-size: 1em;
        padding: 0.25em 0.5em;
        border-radius: 0.25em;

        &:enabled {
          cursor: pointer;

          @include focus {
            background: $focused;
          }
        }

        &:disabled {
          display: none;

          &.selected {
            display: inline;
            background: $focused;
          }
        }
      }
    }
  }

  hr {
    border: none;
    border-top: 0.125em solid $seperator;
  }
}
