<% title("Storymatic Viewer"), desc("View a Storymatic project in action!"), css("./index.css"), js("./index.js") %>

<form id="fieldform">
  <input type="text" id="field" placeholder="Send messages to program..." autocomplete="off" />
</form>

<div id="output"></div>