<%
  title("Video Overcolorifier"), desc("Ever wondered how much shading and value really matter in the real world? Find out by removing those elements from anything in the range of your camera!"), css("../index.css"), js("./index.js");
%>

<p id="info">To get started, click or tap this paragraph and grant zSnout camera permissions.</p>
<img id="output" />