@use "../.." as *;

#main {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

#outereditor,
#viewer {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

#outereditor {
  border: 0.0625em solid $seperator;
  border-radius: 0.5em;
}

#editor {
  margin: 4px 4px 4px 0;
  height: calc(100% - 8px);
  width: calc(100% - 4px);
}

#viewer {
  width: 50%;

  @include small {
    display: none;
  }
}
