@use ".." as *;

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  margin: auto;
  font-family: $sans;
  font-size: 1.5em;
  max-width: calc(
    min(100%, calc(500px + (2 * $outer-margin))) - (2 * $outer-margin)
  );
}

#videos {
  display: none;
  gap: $margin;
  grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
  width: 100%;

  .fullscreen & {
    width: 100%;
    height: 100%;
  }
}

video {
  display: block;
  border: 0.0625em solid $seperator;
  border-radius: 0.25em;
  max-width: calc(100% - 0.125em);
  max-height: calc(100% - 0.125em);
}

.video {
  #videos {
    display: grid;
  }

  main {
    display: initial;
  }

  #info {
    display: none;
  }
}

.video {
  .video-1,
  .video-2 {
    #videos {
      display: block;
    }

    video {
      max-width: initial;
      max-height: initial;
    }
  }
}

.video-1 {
  video {
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.cover video {
    object-fit: cover;
  }
}

.video-2 {
  video:first-child {
    position: absolute;
    top: calc($margin-top + ($navbar-height + $margin + $outer-margin));
    right: calc($outer-margin + $inset-right);
    max-width: max(15%, 100px);
    max-height: max(15%, 100px);
    outline: 0.125em solid $seperator;
  }

  video:last-child {
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.cover video:last-child {
    object-fit: cover;
  }
}

main:not(.video-1):not(.video-2) {
  videos {
    display: inline-block;
    max-width: 100%;
  }
}
