@use ".." as *;

video {
  background: $element;
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  margin: auto;
  font-family: $sans;
  font-size: 1.5em;
  max-width: calc(
    min(100%, calc(500px + (2 * $outer-margin))) - (2 * $outer-margin)
  );
}

.showvideo {
  video {
    display: block;
  }

  main {
    display: initial;
  }

  #info {
    display: none;
  }
}

#video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#myvideo {
  position: absolute;
  top: calc($margin-top + ($navbar-height + $margin + $outer-margin));
  left: $outer-margin;
  max-width: 15%;
  max-height: 15%;
  outline: 0.125em solid $seperator;
}
