<%
  title("zCall"), fullscreen(), css("./index.css"), js("./index.js");
  nav("Change Video Size", "@resize", "hd");
  nav("Share Session", "@share-session", "share");
%>

<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

<p id="info">Connecting to zCall server...</p>

<video id="video" autoplay></video>
<video id="myvideo" autoplay muted></video>