@use ".." as *;

video {
  background: $element;
  display: block;
  max-width: 25%;
  max-height: 25%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  margin: auto;
  font-family: $sans;
  font-size: 1.5em;
  max-width: calc(
    min(100%, calc(500px + (2 * $outer-margin))) - (2 * $outer-margin)
  );
}

.video {
  video {
    display: block;
  }

  main {
    display: initial;
  }

  #info {
    display: none;
  }
}
