@use "../.." as *;

#main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

textarea {
  display: block;
  padding: 0.5em;
  border: 0.0625em solid $seperator;
  background: $element;
  resize: none;
  border-radius: 0.5em;
  color: $text-color;
  font-family: $sans;
  font-size: inherit;
}

#input {
  flex-grow: 1;
}

#output {
  flex-grow: 3;
}
