<%
  title("Notepad");
  css("https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.bubble.min.css");
  css("./index.css");
  js("https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js");
  js("./index.js");
%>

<div id="editor"></div>