<% title("zGame"), css("./index.css"), js("./index.js"), fullscreen() %>

<outer id="info-outer">
  <p id="info">If you can see this, an error occurred!<br>Reload the page to attempt a fix.</p>
</outer>

<canvas id="game" width="3072" height="2048"></canvas>