<%
  title("Bad Chess AIs");
  css("../index.css");
  css("https://cdnjs.cloudflare.com/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.css");
  js("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js");
  js("https://cdnjs.cloudflare.com/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.js");
  js("./index.js");
  nav("Restart Game", "@restart", "clear");
%>

<div id="board"></div>