<%
  title("Live Blinder"), desc("Who really needs to see all colors? FInd out for yourself by removing some colors from a live camera!"), css("../index.css"), js("./index.js");
%>

<p id="info">
  To get started, click or tap this paragraph!
  <br>If you haven't yet, you'll need to grant zSnout camera pemissions.
</p>

<img id="output" />