<%
  title("Live Overcolorifier"), desc("Ever wondered how much shading and value really matter in the real world? Find out by removing those elements from anything with a live view of your camera!"), css("../index.css"), js("./index.js");
%>

<p id="info">To get started, click or tap this paragraph!<br>If you haven't yet, you'll need to grant zSnout camera
  pemissions.</p>

<img id="output" />