<% css("/assets/css/form.css"), js("./index.js"), title("Log in to zSnout") %>

<form id="form">
  <label for="username"><strong>Username</strong></label>
  <input type="text" id="username" placeholder="homer_simpson" autocomplete="username" required>

  <label for="password"><strong>Password</strong></label>
  <input type="password" id="password" placeholder="i_l|ke_donut$" autocomplete="current-password" required>

  <input type="submit" value="Log In">
</form>