<%
  title("Storymatic Editor");
  desc("Run and edit a Storymatic program directly from your browser!");
  css("./index.css");
  css("/assets/css/cobalt2.css");
  js("https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.min.js");
  js("https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-javascript.min.js");
  js("../syntax.js");
  js("./index.js");
  nav("Save Program", "#save", "save");
%>

<div id="outereditor" class="cobalt2">
  <div id="editor"></div>
</div>

<div id="outerjseditor" class="cobalt2">
  <div id="jsviewer"></div>
</div>