<% title("Squaring Practice"), desc("Practice your squares from 2x2 to 20x20 with this interactive webpage!"), css("../index.css"), js("./index.js") %>

<form id="form">
  <div id="problem">2 × 2 = <input id="field" type="number" autocomplete="off"></div>
</form>