<% title("Multiplication & Division Practice"), desc("Practice your multiplication and division skills with this interactive webpage!"), css("../index.css"), js("./index.js") %>

<form id="form">
  <div id="problem">2 × 2 = <input id="field" type="number" autocomplete="off"></div>
</form>