@use ".." as *;

#main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#outereditor {
  border: 0.0625em solid $seperator;
  border-radius: 0.5em;
  width: calc(100% - 0.125em);
  height: calc(100vh - (1.25em + (2 * $margin)) - $main-height);
  padding: 0;
  margin: 0;
}

#editor {
  margin: 0.25em 0.25em 0.25em 0;
  height: calc(100% - 0.5em);
  width: calc(100% - 0.25em);
}

#output {
  border: 0.0625em solid $seperator;
  border-radius: 0.5em;
  user-select: all;
  overflow: auto hidden;
  white-space: pre;
  padding: $margin;
  height: 1em;
  background: $element;
}
